@font-face {
  font-family: g-font;
  src: url(./fonts/custon-font.ttf);
}

*::selection {
  user-select: none;
}


 h1 {
   padding: 0;
   margin: 0;
   font-size: 8em;
 }

#restartDiv{
  display: flex;
  flex-direction: column;
}
 h2 {
   font-size: 2rem;
   width: 100%
 }

 #welcome-menu {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 3rem;
 }

 body {
   color: #fff;
   font-family: g-font;
   margin: 0;
   padding: 0;
   justify-content: space-between;
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   background-color: #333;
   min-height: 100vh;
 }

 #game {
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 2rem;
 }

 a {
   font-family: g-font;
   padding: 1rem;
   color: black;
   font-size: 3rem;
   text-decoration: none;
   border-radius: .5rem;
   background-color: #ffd34f;
   cursor: pointer;
   transition: .5s;
 }

 a:hover {
   transform: scale(1.06);
   transition: .5s;
 }

 #gif-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2rem;
   width: 80%;
   padding: 0 2rem;
   margin: 1rem 0;
 }

 .card {
   display: flex;
   height: 6rem;
   width: 6rem;
   position: relative;
   transform-style: preserve-3d;
   cursor: pointer;
   transition: transform .5s;
 }


 .back,
 .front {
   margin: 0;
   position: absolute;
   backface-visibility: hidden;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   object-fit: cover;
 }

 .back {
   transform: rotateY(180deg);
 }
 .score-div{
  display: flex;
  justify-content: space-around;
  width: 50rem;
 }

 .score-card {
  width: 50%;
   color: #ffd34f;
   align-self: center;
   text-align: center;
   height: 3rem;
   font-size: 2rem;
   font-family: g-font;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 #winner-prompt-div{
  border-radius: 1rem;
  font-weight: 200;
  padding: 2rem;
  color:black;
  background-color: #ffd34f;
 }

 .btn-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

 #exit{
  display:block;
 }

 #restartOptions{
  display: flex;
  justify-content: space-around;
 }

 #restartOptions a{
  width: 40%;
  margin: 2rem .5rem;
 }
 .flip {
   transform: rotateY(180deg);
 }

 @media (max-width: 400px) {
   h1 {
     font-size: 5rem;
   }

   #gif-cards {
     height: 70rem;
   }

   #welcome-menu {
     height: 100%;
   }

   .btn-div, .score-div{
    flex-direction: column;
   }
 }